{% extends 'profile/base.html.twig' %}

{% block title %}{{ 'profile_title_user_data'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">{{ 'action_submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
