{% extends 'base.html.twig' %}

{% block title %}{{ 'profile_title_recipes_list'|trans }}{% endblock %}

{% block body %}
    {% if recipes|length == 0 %}
        <div class="alert alert-warning">
            {{ 'recipe_table_empty'|trans }}
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'recipe_table_header_name'|trans }}</th>
                <th>{{ 'recipe_table_header_type'|trans }}</th>
                <th>{{ 'recipe_table_header_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% dump(recipes) %}
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.humanType|trans }}</td>
                    <td>{{ 'action_edit'|trans }}@TODO link to edit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
