{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="row text-center recipe-profile">
        <div class="col-sm">
            <div>
                <h1>
                    {{ recipe.name }}
                </h1>
                <span class="like-recipe-wrapper">
                    <a href="{{ path('toggleRecipeLike', {'slug': recipe.slug }) }}"
                       class="{{ recipe.isLikedBy(user) ? 'fas' : 'far' }} fa-heart {{ user ? 'like-recipe' : '' }}">
                    </a>
                    <span class="like-recipe-count">
                        {{ recipe.likes }}
                    </span>
                </span>
            </div>
            <hr/>
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-drumstick-bite"></i> {{ recipe.humanType|trans }}</li>
                </li>
                <li>
                    <i class="fas fa-clock"></i> {{ recipe.preparationTime }} {{ 'label_minutes'|trans }}
                </li>
            </ul>

            <div id="recipe-images-gallery" style="display:none; margin: auto;">
                {% for image in recipe.getImages() %}
                    <img alt="{{ image.image.name }}" src="{{ vich_uploader_asset(image, 'imageFile') }}"
                         data-image="{{ vich_uploader_asset(image, 'imageFile') }}">
                {% endfor %}
            </div>

            <div class="ingredients-gallery">
                <ul>
                    {% for ingredient in recipe.ingredientQuantities %}
                        <span>
                            <img alt="{{ ingredient.ingredient.name }}" data-toggle="tooltip" data-placement="top"
                                 title="{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}"
                                 src="{{ vich_uploader_asset(ingredient.ingredient, 'imageFile') | imagine_filter('recipe_ingredient') }}">
                        </span>
                    {% endfor %}
                </ul>
            </div>

            <hr/>

            <article>
                <section class="ingredients-list">
                    <ul>
                        {% for ingredient in recipe.ingredientQuantities %}
                            <li>
                                {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
                            </li>
                        {% endfor %}
                    </ul>
                </section>

                <section class="recipe-description">
                    {{ recipe.description|raw }}
                </section>
            </article>
        </div>
    </div>
{% endblock %}
