{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h1>
                {{ recipe.name }}
            </h1>
            <p>{{ recipe.humanType|trans }}</p>
            <small>{{ recipe.likes }} @TODO action-add-to-favourites</small>
            <h5>
                {{ recipe.preparationTime }}
            </h5>
            <ul>
                {% for ingredient in recipe.ingredientQuantities %}
                    <li>
                        {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
                    </li>
                {% endfor %}
            </ul>
            <article>{{ recipe.description|raw }}</article>
        </div>
    </div>
{% endblock %}
