{% extends 'base.html.twig' %}

{% block headerContent %}
    {{ form_start(form) }}
    <div class="input-group col-sm">
        {{ form_widget(form.phrase) }}
        <span class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>

    <button class="btn btn-secondary search-form-filters-trigger" type="button">
        {{ 'action_showSearchFilters'|trans }}
    </button>

    <div class="row">
        <div class="col-sm">
            <div class="search-form-filters">
                {{ form_row(form.ingredients) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <div id="about">
                {{ about.body|raw }}
            </div>
        </div>
    </div>
{% endblock %}
